* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  display: flex;
}
.logo p{
  margin: 36px -46px;
  font-size: 10px;
}
.logo img {
  width: 10%;
  margin-top: -32px;
}
.logo h1 {
  margin: 9px -25px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: absolute;
  right: 20px;
  top: 22px;
}
.button {
  border: 1px solid black;
  border-radius: 10px;
}
.menu a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 1em;
}
.column {
  display: flex;
}
.left {
  width: 50%;
  font-size: 30px;
  padding: 100px 50px;
}
.left p {
  margin-bottom: 3em;
  padding-top: 15px;
  font-size: 16px;
}
.left a {
  margin-bottom: 10px;
  color: #fff;
  background-color: #150e56;
  padding: 13px 13px;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
}
.pcr-test h1 {
  font-size: 2em;
  text-align: center;
  padding: 2em;
}
.pcr-test .row {
  display: flex;
  justify-content: space-evenly;
}
.pcr-test p {
  padding: 1em;
}
.main {
  display: flex;
  justify-content: space-between;
  padding-top: 7em;
  padding-bottom: 3em;
  margin-right: 40px;
    margin-left: 45px;
}
.heading1 {
  margin-right: 10px;
}
.heading1 a {
  padding: 15px 10px;
  margin: 15px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
}
.countries1 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-around;
  margin-right:30px;
  margin-left:30px ;
  margin-bottom: 5%;
}

.img-text{
  border: 1px solid lightblue;
  border-radius: 0 0 20px 0;
  margin: 10px;
}

.img-text  img{
  width: 100%;
}
.text{
  padding: 17px;
  margin-top: 6px;
}
.text p{
  margin-top: 12px;
}
.text a{
  text-decoration: none;
  color: blue;
}
.text div{
  margin-top: 12px;
}
.footer{
  
}